[paths]
source =
   mhtml
   mhtml_scripts
   */site-packages/mhtml
   */site-packages/mhtml_scripts

[run]
branch = true
source =
    mhtml
    mhtml_scripts
    tests
parallel = true

[report]
show_missing = true
precision = 2
omit = *.egg*
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError
    def __repr__
